.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid var(--light-gray);
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;

  thead { background-color: var(--very-light-gray); }
  th { text-align: left; }

  th, td {
    padding: .5rem;
    border: 1px solid var(--light-gray);
  }
}

.pad-tree {
  padding-left: 1.25rem;
  position: relative;

  .icon-wrapper {
    position: absolute;
    left: 0;
    top: 0;
  }
}
