:root {
	--xxs: .125rem;
	--xs: .25rem;
	--sm: .5rem;
	--md: 1rem;
	--lg: 2rem;
	--xl: 4rem;
	--xxl: 8rem;

  --base-font-size: 16px;
  --base-font-fam: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --base-line-height: 1.5;
  --container-width: 60rem;

  --light-blue: #51a7e8;
  --blue: #4078c0;
  --green: #6cc644;

  --very-light-gray: #f5f5f5;
  --light-gray: #d8d8d8;
  --gray: #999;
  --dark-gray: #767676;
  --very-dark-gray: #333;

  --body-bg: #fafafa;
}
